/* THIS IS A COMMENT IN CSS */
h1 {
  color: blue;
  padding: 30px;
}

.purple {
  /* targeting an element by class name */
  color: purple;
}

.fancy-header.purple {
  /* targeting an element with multiple class names (combo class) */
  color: magenta;
}
